*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #141b29;
}
header{
    padding: 10px;
    margin-bottom: 5px ;
}
header h1{
    margin: 10px;
}
.game-area{
    position: relative;
}

header h1, footer{
    color: #5ac994;
    text-shadow: 2px 2px 20px #C0F7B7;
}

.vez, .square, #reset{     
    border: #5ac994 1px solid;
    background-color: #5ac994;
    box-shadow: 2px 2px 10px #63e6b1;}


.vez{
    position: absolute;
    text-align: right;
    right: 30px;
    border-radius: 15px;
    padding: 20px;
    font-family: monospace;
    font-size: 16px;
}

.square{
    width: 120px;
    height: 120px;
    border-radius: 5px;  
    margin: 3px;
    display: inline-block;
}
.o, .x{
    position: relative;
}
.o:after{
    position: absolute;
    content: "O";
    font-size: 80px;
    line-height: 120px;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
}
.x{
    position: relative;
}
.x:after{
    position: absolute;
    content: "X";
    font-size: 80px;
    line-height: 120px;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
}
#reset{
    margin-left: 12px;
    margin-top: 2rem;
    padding: 10px 20px;
    border-radius: 10px;
}
footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px;
}

@media screen and (max-width: 800px) {
    .vez{
        display: none;
    }
    .square{
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width: 340px) {
    .square{
        height: 90px;
        width: 90px;
    }
}
@media screen and (max-width: 295px) {
    .square{
        height: 80px;
        width: 80px;
    }
}

